.widget-rank {
  position: absolute;
  top: 0.72rem;
  width: 100%;
}
.widget-rank h3 {
  text-align: center;
  font-size: 0.13rem;
  color: #262626;
  padding-bottom: 0.2rem;
}
.widget-rank h3 strong {
  color: #28a7e1;
  font-size: 0.16rem;
}
.widget-rank li {
  margin: 0.16rem 0.3rem;
}
.widget-rank li span {
  display: inline-block;
  width: 0.33rem;
  border-radius: 3px;
  padding: 3px 8px;
  color: #fff;
  font-size: 14px;
}
.widget-rank li strong {
  float: right;
  color: #28a7e1;
  font-size: 16px;
}
.widget-rank li i {
  font-style: normal;
  color: #000000;
  font-size: 16px;
  margin-left: 30px;
}
.widget-rank .rank_01 {
  background-color: #fb9e31;
}
.widget-rank .rank_02 {
  background-color: #9bcc24;
}
.widget-rank .rank_03 {
  background-color: #53c66c;
}
.widget-rank .rank_04 {
  background-color: #40a2ea;
}
.widget-rank .rank_05 {
  background-color: #6c79ed;
}
.widget-rank .rank_06,
.widget-rank .rank_07,
.widget-rank .rank_08,
.widget-rank .rank_09,
.widget-rank .rank_10 {
  background-color: #ccc;
}
