#pg-account-recharge .title{
  font-size: 22px;
  height: 30px;
  line-height: 30px;
}

#pg-account-recharge .bankList dl dd{
  float:left;
  width:142px;
  height:40px;
  line-height:40px;
  border:1px solid #ddd;
  margin:0 20px;
  margin-bottom:20px;
  position:relative;
  display:inline;
  text-align:center;
}
#pg-account-recharge .bankList dl dd:hover,#pg-account-recharge .bankList dl dd.current{
    border:1px solid #55A500;
}

#pg-account-recharge .bankList dt{
    margin-bottom:5px;
}

#pg-account-recharge .bankList dl dd label{
  display:block;
  width:142px;
  height:40px;
  overflow:hidden;
}

#pg-account-recharge .bankList dl dd img{
  width:142px;
  height:40px;
  margin:0;
}

#pg-account-recharge .bankList dl dd input{
  position:absolute;
  left:-20px;
  top:13px;
}

#pg-account-recharge .inputbox .wrap{
  padding-left:110px;
}

#pg-account-recharge .inputbox .value{
  font-size:18px;
  height:24px;
  line-height:24px;
}

#pg-account-recharge .errorforbank{
  margin-left:30px;     
}

#afterSub{
  padding:20px; 
}
#afterSub a{
  margin-top:20px;  
}

#pg-account-recharge  .ui-poptip-content ol li{
    list-style-type: decimal;
    list-style-position: outside;
    margin-left: 18px;
}
#pg-account-recharge .notice {
    margin-left: 80px;
    padding-right: 50px;
}
#pg-account-recharge .notice .title {
    font-size: 14px;
    padding-left: 0;
}
#pg-account-recharge .notice ol li{
    list-style-type: decimal;
    list-style-position: outside;
    margin-left: 18px;
}
#pg-account-recharge .foldbox{
    padding-right:23px;
    text-align:center;
}
#pg-account-recharge .foldbox a {
    cursor:pointer;
}
.ui-input-checkbox {
    height: 14px;
    width: 14px;
}

#rechargeWay {
    /*width: 620px;*/
    padding: 0 20px;
}
#rechargeWay .recharge-title {
    height: 40px;
    position: relative;
}
#rechargeWay .recharge-title ul {
    position: absolute;
    left: 0px;
    top: 1px;
}
#rechargeWay .recharge-title ul li {
    float: left;
    height: 38px;
    line-height: 38px;
    padding: 0px 30px;
    cursor: pointer;
    color: #474747;
}
#rechargeWay .recharge-title ul li.active {
    border: solid 1px #e0e0e0;
    border-bottom: solid 1px #fff;
    cursor: default;
    color: #999;
}
#rechargeWay .recharge-banks {
    border: solid 1px #e0e0e0;
    border-radius: 0px 4px 4px 4px;
}
.recharge-banks li {
    width: 240px;
    height: 74px;
    float: left;
    position: relative;
    cursor: pointer;
    margin: 2px 3px;
    border: 1px solid white;
}
.recharge-banks li a.mark-blue {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2;
}
.recharge-banks li.active {
    border: solid 1px  #41addd ;
}
.recharge-banks li.J_show_more_banks {
    width: 110px;
    border: none;
    padding-left: 10px;
}
.recharge-banks li.active a {
    background: url(./assets/hover.png);
}
.recharge-banks li.J_show_more_banks a {
    display: block;
    line-height: 33px;
    padding-right: 24px;
    background: url(./assets/more-banks.png) no-repeat 66px center;
    
}
.recharge-banks li i.rt {
    display: none;
}
.recharge-banks li.active i.rt {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 0px;
    top: 0px;
    background: url(./assets/right-top.png) no-repeat;
    z-index: 3;
    display: block;
}
.recharge-banks li img {
    display: block;
    margin: 1px auto;
}

.recharge-banks .banks-limit-table {
    margin: 20px auto 0px auto; 
}
.recharge-banks .banks-limit-table table {
    background: #fff;
    border-collapse: inherit;
    display: none;
    margin-bottom: 20px;
}
.recharge-banks .banks-limit-table table th {
    line-height: 36px;
    background: #f0f0f0;
    text-align: center;
}
.recharge-banks .banks-limit-table table td {
    text-align: center;
}
.recharge-banks .banks-limit-table table td p {
    line-height: 32px;
    border-bottom: solid 1px #fff;
}
.recharge-banks .banks-limit-table table td p.last {
    border-bottom: solid 1px #f9f9f9;
}