#confirm-plan-exit-execution a.iconfont {
	color: #7fd4f3;
	cursor: pointer;
}

#confirm-plan-exit-execution a.iconfont:hover {
	color: #00a8e8;
}

#confirm-plan-exit-execution .expected-exit-amount-tip,
#confirm-plan-exit-execution .expected-total-amount-tip {
  position: relative;
}

#confirm-plan-exit-execution .expected-exit-amount-tip .ui-poptip {
  position: absolute;
  bottom: 20px;
  left: -16px;
  width: 240px;
  text-align: left;
}

#confirm-plan-exit-execution .expected-total-amount-tip .ui-poptip {
	position: absolute;
  bottom: 20px;
  left: -16px;
  width: 300px;
  text-align: left;
}