.widget-raffle {
  #raffle_title {
    font-size: 40px;
    color: #fff;
    font-weight: normal;
    
  }
  img {
    display: inline-block;
    width: 300px;
  }
  .bx_log {
    // display: inline-block;
    width: 300px;
    background: url(./assets/baoxiang_01.png) no-repeat;
    height: 180px;
  }
}