#app {
  width: 100%;
  background-color: #fff;
  padding-bottom: 0.4rem;
}
section {
  margin: 0;
  padding: 0;
}
.sec_common {
  height: 3.09rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.sec_common .huodong_info_wrap {
  color: #fff;
}
.sec_common .huodong_info_wrap h5,
.sec_common .huodong_info_wrap li {
  color: #fff;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
  .sec_common {
    margin-top: -0.01rem;
  }
}
.sec_01 {
  background-image: url(../img/index/app_02.png);
}
.sec_02 {
  background-image: url(../img/index/app_03.png);
  position: relative;
}
.sec_03 {
  background-image: url(../img/index/app_04.png);
}
.sec_04 {
  background-image: url(../img/index/app_05.png);
  min-height: 3.08rem;
  position: relative;
  margin-bottom: -0.01rem;
}
.sec_05 {
  background-image: url(../img/index/app_06.png);
  position: relative;
}
.sec_05 .tips {
  text-align: center;
  color: #fff;
  padding-top: 1.5rem;
}
.sec_05 h3 {
  font-size: 0.22rem;
  font-weight: bold;
  line-height: 2;
}
.sec_05 p {
  font-size: 0.13rem;
}
.sec_05 strong {
  font-size: 0.19rem;
}
.sec_05 .title-close {
  font-size: 0.21rem;
  line-height: 0;
  font-weight: normal;
  color: #fff;
}
.sec_06 {
  background-image: url(../img/index/app_07.png);
  height: 2.9rem;
}
.sec_07 {
  background-image: url(../img/index/app_08.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.sec_081 {
  background-image: url(../img/index/app_09.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 1.77rem;
}
.sec_081 .widget-info {
  padding-top: 152px;
  color: #fff;
}
.sec_081 .widget-info h5 {
  color: #fff;
}
.sec_081 .widget-info .rules h5,
.sec_081 .widget-info .rules li {
  color: #fff;
}
.sec_041 {
  background-color: #4bb8e5;
  min-height: 0.27rem;
}
.sec_041 .widget-info {
  color: #fff;
}
.sec_041 .widget-info h5 {
  color: #fff;
}
.sec_041 .widget-info .rules h5,
.sec_041 .widget-info .rules li {
  color: #fff;
}
.sec_082 {
  background-image: url(../img/index/app_10.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 1.32rem;
  margin-top: -0.01rem;
}
.sec_09 {
  height: 3.3rem;
  background-image: url(../img/index/app_12.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.rank_info {
  height: 5.58rem;
  width: 100%;
  position: relative;
  background-image: url(../img/index/app_13.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.rank_detail {
  position: relative;
  top: 100%;
}
