.widget-word {
  width: 96%;
  h3 {
    color: #fff;
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 30px;
  }
  li {
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.5);
    display: inline-block;
    margin: 0 40px 30px 0;
    float: left;
    text-align: center;
  }
  button {
    border: none;
    background-color: #9caa95;
    height: 50px;
    line-height: 2;
    color: #c6cec3;
    font-size: 20px;
    border-radius: 5px;
    width: 92%;
  }
}