.j-dialog {
  display: none;
  position: absolute;
  width: 700px;
  left: 50%;
  top: 200px;
  z-index: 9999;
  padding: 0 0px 0px;
  background: #fff;
  /*主体内容区域*/
}
.j-dialog .j-dialog-title-con {
  position: relative;
  height: 50px;
  line-height: 50px;
  margin: 0 25px;
  border-bottom: 1px solid #f4f4f4;
}
.j-dialog .j-dialog-title-con .j-dialog-title {
  font-size: 16px;
  color: #2b2b2b;
}
.j-dialog .j-dialog-title-con .j-dialog-close-btn {
  position: absolute;
  right: 0px;
  top: 15px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  color: #686868;
  font-size: 24px;
  cursor: pointer;
}
.j-dialog .j-dialog-content {
  /*老的对话框中的标题,隐藏掉,用JS来读取这个HTML值作为title*/
}
.j-dialog .j-dialog-content .data-dialog-title {
  display: none;
}
.j-dialog .j-dialog-btn-con {
  text-align: center;
  padding: 26px 0 0;
  margin-bottom: 30px;
}
.j-dialog .ui-confirm-yue {
  margin: 0px 0 0 76px;
  line-height: 30px;
}
.j-dialog .j-dialog-footer {
  padding: 30px 58px 0 58px;
  margin-top: 30px;
  border-top: 1px solid #f4f4f4;
  font-size: 14px;
  line-height: 24px;
  background: #fafafa;
  color: #848484;
}
.j-dialog .j-dialog-footer .j-dialog-section-title {
  margin-top: -17px;
}
