/*
 * namespace .ui-form
 */
.ui-form {
  font-size: 14px;
  line-height: 1.5;
}

.ui-form, .ui-form * {
  list-style: none;
}

.ui-form fieldset {
  border: 0;
}

.ui-form input.input-icon {
  padding-left: 30px;
}

.ui-form legend {
  font-size: 16px;
  margin-bottom: 15px;
}

.ui-form-text {
  display: inline-block;
  margin-top: 6px;
  *display: inline;
  *zoom: 1;
}

.ui-form-item:after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  visibility: hidden;
}

.ui-form-item {
  position: relative;
  padding: 0 5px 20px 170px;
  zoom: 1;
}

.ui-form-item-nolabel {
  padding: 0;
}

.ui-form-item input {
  vertical-align: middle;
}

.ui-form-item textarea {
  border: 1px solid #c5c5c5;
  background: url("/static/img/input_inner.png") repeat-x;
}

.ui-form-item select {

}

.ui-form-item .placeholder {
  position: absolute;
  top: 5px;
  left: 40px;
  font-size: 14px;
  color: #ababab;
}

.ui-form-item .icon {
  width: 25px;
  height: 21px;
  background: url("/static/img/input-icon/input-icon-all.png") no-repeat;
  position: absolute;
  top: 12px;
  left: 9px;
}

.ui-form-item .input-bg-gray {
/*  background: url("/static/img/input-icon/input-bg-all.png") 0 0 no-repeat;*/
}

.ui-form-item .input-bg-red {
 /* background: url("/static/img/input-icon/input-bg-all.png") 0 -94px no-repeat;*/
}

.ui-form-item .input-icon-id-gray {
  background-position: 0 0;
}

.ui-form-item .input-icon-id-red {
  background-position: 0 -71px;
}

.ui-form-item .input-icon-head-gray {
  background-position: 0 -142px;
}

.ui-form-item .input-icon-head-blue {
  background-position: 0 -213px;
}

.ui-form-item .input-icon-head-red {
  background-position: 0 -284px;
}

.ui-form-item .input-icon-id-blue {
  background-position: 0 -355px;
}

.ui-form-item .input-icon-lock-gray {
  background-position: 0 -426px;
}

.ui-form-item .input-icon-lock-blue {
  background-position: 0 -497px;
}

.ui-form-item .input-icon-lock-red {
  background-position: 0 -568px;
}

.ui-form-item .input-icon-phone-gray {
  background-position: 0 -639px;
}

.ui-form-item .input-icon-phone-blue {
  background-position: 0 -710px;
}

.ui-form-item .input-icon-phone-red {
  background-position: 0 -781px;
}

.ui-form-item .input-icon-lock {
  background-position: 0 0;
}

.ui-form-item .input-icon-key {
  background-position: 0 -40px;
}

.ui-form-item .input-icon-mobile {
  background-position: 2px -85px;
}

.ui-form-item .input-icon-user {
  background-position: 0 -127px;
}

.ui-form input.error, .ui-form textarea.error {
  border: 1px solid #ee7565;
}

.ui-form label.error {
  display: block;
  color: #ee7565;
}

.ui-form label.valid {
  color:#aaa;
}

.ui-input,
.ui-textarea {
  padding: 4px 5px;
  line-height: 22px;
  color: #2b2b2b;
  font-size: 16px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #c5c5c5;
  /*box-shadow: 0 1px 3px #eee inset;*/
}

.ui-input:hover, .ui-textarea:hover, .ui-input:focus, .ui-textarea:focus, .ui-input-hover {
/*  border: 1px solid #69bde9;*/
  /*border: 1px solid #2ea7e0;*/
  border: 1px solid #3a84cf;
}

.ui-input:focus, .ui-textarea:focus, .ui-input-focus, input:focus, select:focus, button:focus {
  outline: none;
}

.ui-label {
  float: left;
  width: 170px;
  margin-left: -180px;
  padding-top: 0px;
  text-align: right;
  font-size: 14px;
}

.ui-form-required {
  color: #FF0000;
  font-family: SimSun;
  font-size: 14px;
  margin-right: 6px;
}

.ui-select{
  display: inline-block;
  _display:inline;
  _zoom:1;
  padding: 4px;
  cursor: pointer;
  margin-top: 2px;
  vertical-align: middle;
  padding-right: 5px;
  /*background-image: url('/static/img/ui-select.png');*/
  /*background-repeat: no-repeat;*/
}
.ui-select input{
  visibility: hidden;
}

.servermsg {
  color: red;
  line-height: 30px;
}

.radio-label {
  margin-left: 5px;
}

.phoneCodeMsg {
  display: block;
}

.ui-form-line {
  border-bottom: 1px dashed #ccc;
  margin-bottom: 10px;
}

.ui-form-item .phone-pre {
  width: 50px;
}

.ui-form-item .phone-suf {
  width: 120px;
}

.form-msg {
  margin-left: 10px;
}

.form-msg .warn {
  color: #ee7465;
}