.widget-award-box {
  margin: 0 5%;
  padding: 0.1rem 0.1rem 0 0.1rem;
  border: 2px solid #fbdf8b;
  background-color: rgba(232, 179, 21, 0.5);
  position: absolute;
  width: 83%;
  top: 1.9rem;
}
.widget-award-box span {
  color: #73f0ff;
}
.widget-award-box h3 {
  color: #fff;
  font-size: 0.14rem;
  margin-bottom: 0.3rem;
}
.widget-award-box h3 span {
  float: right;
  cursor: pointer;
}
.widget-award-box ul {
  margin-left: 30px;
}
.widget-award-box li {
  list-style-type: disc;
  line-height: 0.32rem;
  color: #fff;
  font-size: 0.13rem;
}
.widget-award-box i {
  font-style: normal;
  float: right;
  color: #73f0ff;
}
.widget-award-box #boxScroll {
  height: 1.6rem;
  line-height: 30px;
  overflow: hidden;
}
