
/*银行 logo 的样式*/

.small-bank-icon{
    padding-left: 25px;
    background: url(./bank-small-icon/105.png) scroll no-repeat 0 center;
}

/*建设银行*/
.small-bank-105{
    background-image: url(./bank-small-icon/105.png);
}
/*工商银行*/
.small-bank-102{
    background-image: url(./bank-small-icon/102.png);
}
/*农业银行*/
.small-bank-103{
    background-image: url(./bank-small-icon/103.png);
}
/*招商银行*/
.small-bank-308{
    background-image: url(./bank-small-icon/308.png);
}
/*中国银行*/
.small-bank-104{
    background-image: url(./bank-small-icon/104.png);
}
/*交通银行*/
.small-bank-301{
    background-image: url(./bank-small-icon/301.png);
}
/*邮政储蓄银行*/
.small-bank-403{
    background-image: url(./bank-small-icon/403.png);
}
/*光大银行*/
.small-bank-303{
    background-image: url(./bank-small-icon/303.png);
}
/*民生银行*/
.small-bank-305{
    background-image: url(./bank-small-icon/305.png);
}
/*兴业银行*/
.small-bank-309{
    background-image: url(./bank-small-icon/309.png);
}
/*中信银行*/
.small-bank-302{
    background-image: url(./bank-small-icon/302.png);
}
/*浦发银行*/
.small-bank-310{
    background-image: url(./bank-small-icon/310.png);
}
/*平安银行*/
.small-bank-307{
    background-image: url(./bank-small-icon/307.png);
}
/*广发银行*/
.small-bank-306{
    background-image: url(./bank-small-icon/306.png);
}
/*华夏银行*/
.small-bank-304{
    background-image: url(./bank-small-icon/304.png);
}
/*农村信用社*/
.small-bank-20{
    background-image: url(./bank-small-icon/20.png);
}
/*苏格兰皇家银行*/
.small-bank-36, .small-bank-672{
    background-image: url(./bank-small-icon/36.png);
}
/*农村商业银行*/
.small-bank-19{
    background-image: url(./bank-small-icon/19.png);;
}
/*城市商业银行*/
.small-bank-21{
    background-image: url(./bank-small-icon/21.png);
}
/*中国农业发展银行*/
.small-bank-18{
    background-image: url(./bank-small-icon/18.png);
}
/*徽商银行*/
.small-bank-29{
    background-image: url(./bank-small-icon/29.png);
}
/*农村合作银行*/
.small-bank-22{
    background-image: url(./bank-small-icon/22.png);
}
/*上海农商银行*/
.small-bank-24{
    background-image: url(./bank-small-icon/24.png);
}
/*渤海银行*/
.small-bank-26{
    background-image: url(./bank-small-icon/26.png);
}
/*城市信用社*/
.small-bank-13{
    background-image: url(./bank-small-icon/13.png);
}
/*村镇银行*/
.small-bank-28{
    background-image: url(./bank-small-icon/28.png);
}
/*浙商银行*/
.small-bank-23{
    background-image: url(./bank-small-icon/23.png);
}
/*渣打银行*/
.small-bank-33{
    background-image: url(./bank-small-icon/33.png);
}
/*东亚银行*/
.small-bank-35{
    background-image: url(./bank-small-icon/35.png);
}
/*花旗银行*/
.small-bank-32{
    background-image: url(./bank-small-icon/32.png);
}
/*恒丰银行*/
.small-bank-14{
    background-image: url(./bank-small-icon/14.png);
}
/*国家开发银行*/
.small-bank-27{
    background-image: url(./bank-small-icon/27.png);
}
/*韩亚银行*/
.small-bank-31{
    background-image: url(./bank-small-icon/31.png);
}
/*南洋商业银行*/
.small-bank-30{
    background-image: url(./bank-small-icon/30.png);
}
/*华一银行*/
.small-bank-34{
    background-image: url(./bank-small-icon/34.png);
}
/*中国进出口银行*/
.small-bank-25{
    background-image: url(./bank-small-icon/25.png);
}
