@main-active-color : #ff8813;
@normal-text-color:#fff;

.we-btn{
    background-color: @main-active-color;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: @normal-text-color;
    text-align: center;

    /*大button图标*/
    &.we-btn-large{

    }
    /*小button*/
    &.we-btn-small{
        width: 100px;
        height: 40px;
        line-height: 40px;
    }
}