

html {
    margin:0;
    padding:0;
    border:0;
    font-size: 12px;
}

body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, code, b,del, dfn, em, img, q, dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, dialog, figure, footer, header,hgroup, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

ul,ol,dl{
    list-style: none;
}

.clearfix:after{
    content: '\020';
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    font-size: 0;
}
