@header-height:60px;
@header-bg:#1c4876;

.wdg-second-header{
  height: @header-height;
  background: @header-bg;

  .main-section{
    height: @header-height;

    .brand-logo{
      float: left;
      height: 100%;
      text-decoration: none;
    }

    .site-nav{
      float: right;
      height: 100%;
      font-size: 20px;

      .channel-item{
        float: left;
        width: 110px;
        height: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border-bottom: 5px solid @header-bg;
        line-height: 55px;
        text-align: center;
        color: #fff;
      }
      .channel-item:hover{
        border-bottom-color: #ff8813;
        color: #ff8813;
      }

      .user-item{
        float: right;
      }

    }
  }
}